<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app

PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"

"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app> ...

<servlet>

<servlet-name>main</servlet-name>

<servlet-class>main</servlet-class>

<init-param>

<param-name>urlPagededepart</param-name>

<param-value>/pagededepart.jsp</param-value>

</init-param>

<init-param>

<param-name>urlPageformulaire</param-name>

<param-value>/pageformulaire.jsp</param-value>

</init-param>

<init-param>

<param-name>urlPageresultat</param-name>

<param-value>/pageresultat.jsp</param-value>

</init-param>

<init-param>

<param-name>urlErreur</param-name>

<param-value>/erreur.jsp</param-value>

</init-param>

</servlet> ...

<servlet-mapping>

<servlet-name>main</servlet-name> 

<url-pattern>/main</url-pattern>

</servlet-mapping>

<welcome-file-list>
    <welcome-file>main</welcome-file> 
</welcome-file-list>

</web-app> 